@charset "UTF-8";

@keyframes vicp_progress {
  0% {
    background-position-y: 0;
  }

  100% {
    background-position-y: 40px;
  }
}


@keyframes vicp {
  0% {
    opacity: 0;
    transform: scale(0) translatey(-60px);
  }

  100% {
    opacity: 1;
    transform: scale(1) translatey(0);
  }
}


.vue-image-crop-upload {
  position: fixed;
  display: block;
  box-sizing: border-box;
  z-index: 10000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.65);
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  .vicp-wrap {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.23);
    position: fixed;
    display: block;
    box-sizing: border-box;
    z-index: 10000;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 330px;
    padding: 25px;
    background-color: #fff;
    border-radius: 2px;
    animation: vicp 0.12s ease-in;
    .vicp-close {
      position: absolute;
      right: -30px;
      top: -30px;
      .vicp-icon4 {
        position: relative;
        display: block;
        width: 30px;
        height: 30px;
        cursor: pointer;
        transition: transform 0.18s;
        transform: rotate(0);
        &::after, &::before {
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.23);
          content: "";
          position: absolute;
          top: 12px;
          left: 4px;
          width: 20px;
          height: 3px;
          transform: rotate(45deg);
          background-color: #fff;
        }
        &::after {
          transform: rotate(-45deg);
        }
        &:hover {
          transform: rotate(90deg);
        }
      }
    }
    .vicp-step1 .vicp-drop-area {
      position: relative;
      box-sizing: border-box;
      padding: 35px;
      height: 170px;
      background-color: rgba(0, 0, 0, 0.03);
      text-align: center;
      border: 1px dashed rgba(0, 0, 0, 0.08);
      overflow: hidden;
      .vicp-icon1 {
        display: block;
        margin: 0 auto 6px;
        width: 42px;
        height: 42px;
        overflow: hidden;
        .vicp-icon1-arrow {
          display: block;
          margin: 0 auto;
          width: 0;
          height: 0;
          border-bottom: 14.7px solid rgba(0, 0, 0, 0.3);
          border-left: 14.7px solid transparent;
          border-right: 14.7px solid transparent;
        }
        .vicp-icon1-body {
          display: block;
          width: 12.6px;
          height: 14.7px;
          margin: 0 auto;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .vicp-icon1-bottom {
          box-sizing: border-box;
          display: block;
          height: 12.6px;
          border: 6px solid rgba(0, 0, 0, 0.3);
          border-top: none;
        }
      }
      .vicp-hint {
        display: block;
        padding: 15px;
        font-size: 14px;
        color: #666;
        line-height: 30px;
      }
      .vicp-no-supported-hint {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
        width: 100%;
        height: 60px;
        line-height: 30px;
        background-color: #eee;
        text-align: center;
        color: #666;
        font-size: 14px;
      }
      &:hover {
        cursor: pointer;
        border-color: rgba(0, 0, 0, 0.1);
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
    .vicp-step2 .vicp-crop {
      overflow: hidden;
      .vicp-crop-left {
        float: left;
        .vicp-img-container {
          position: relative;
          display: block;
          width: 240px;
          height: 180px;
          background-color: #e5e5e0;
          overflow: hidden;
          .vicp-img {
            position: absolute;
            display: block;
            cursor: move;
            user-select: none;
          }
          .vicp-img-shade {
            box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
            position: absolute;
            background-color: rgba(241, 242, 243, 0.8);
            &.vicp-img-shade-1 {
              top: 0;
              left: 0;
            }
            &.vicp-img-shade-2 {
              bottom: 0;
              right: 0;
            }
          }
        }
        .vicp-rotate {
          position: relative;
          width: 240px;
          height: 18px;
          i {
            display: block;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            line-height: 18px;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            background-color: rgba(0, 0, 0, 0.08);
            color: #fff;
            overflow: hidden;
            &:hover {
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
              cursor: pointer;
              background-color: rgba(0, 0, 0, 0.14);
            }
            &:first-child {
              float: left;
            }
            &:last-child {
              float: right;
            }
          }
        }
        .vicp-range {
          position: relative;
          margin: 30px 0 10px 0;
          width: 240px;
          height: 18px;
          .vicp-icon5, .vicp-icon6 {
            position: absolute;
            top: 0;
            width: 18px;
            height: 18px;
            border-radius: 100%;
            background-color: rgba(0, 0, 0, 0.08);
          }
          .vicp-icon5:hover, .vicp-icon6:hover {
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.14);
          }
          .vicp-icon5 {
            left: 0;
            &::before {
              position: absolute;
              content: "";
              display: block;
              left: 3px;
              top: 8px;
              width: 12px;
              height: 2px;
              background-color: #fff;
            }
          }
          .vicp-icon6 {
            right: 0;
            &::before {
              position: absolute;
              content: "";
              display: block;
              left: 3px;
              top: 8px;
              width: 12px;
              height: 2px;
              background-color: #fff;
            }
            &::after {
              position: absolute;
              content: "";
              display: block;
              top: 3px;
              left: 8px;
              width: 2px;
              height: 12px;
              background-color: #fff;
            }
          }
          input[type=range] {
            display: block;
            padding-top: 5px;
            margin: 0 auto;
            width: 180px;
            height: 8px;
            vertical-align: top;
            background: transparent;
            appearance: none;
            cursor: pointer;
            /* 滑块
             ---------------------------------------------------------------*/
            /* 轨道
             ---------------------------------------------------------------*/
            &:focus {
              outline: none;
            }
            &::-webkit-slider-thumb {
              box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
              appearance: none;
              margin-top: -3px;
              width: 12px;
              height: 12px;
              background-color: #61c091;
              border-radius: 100%;
              border: none;
              transition: 0.2s;
            }
            &::-moz-range-thumb {
              box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
              appearance: none;
              width: 12px;
              height: 12px;
              background-color: #61c091;
              border-radius: 100%;
              border: none;
              transition: 0.2s;
            }
            &::-ms-thumb {
              box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.18);
              appearance: none;
              width: 12px;
              height: 12px;
              background-color: #61c091;
              border: none;
              border-radius: 100%;
              transition: 0.2s;
            }
            &:active {
              &::-moz-range-thumb, &::-ms-thumb {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.23);
                width: 14px;
                height: 14px;
              }
              &::-webkit-slider-thumb {
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.23);
                margin-top: -4px;
                width: 14px;
                height: 14px;
              }
            }
            &::-webkit-slider-runnable-track, &::-moz-range-track {
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
              width: 100%;
              height: 6px;
              cursor: pointer;
              border-radius: 2px;
              border: none;
              background-color: rgba(68, 170, 119, 0.3);
            }
            &::-ms-track {
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12);
              width: 100%;
              cursor: pointer;
              background: transparent;
              border-color: transparent;
              color: transparent;
              height: 6px;
              border-radius: 2px;
              border: none;
            }
            &::-ms-fill-lower {
              background-color: rgba(68, 170, 119, 0.3);
            }
            &::-ms-fill-upper {
              background-color: rgba(68, 170, 119, 0.15);
            }
            &:focus {
              &::-webkit-slider-runnable-track, &::-moz-range-track {
                background-color: rgba(68, 170, 119, 0.5);
              }
              &::-ms-fill-lower {
                background-color: rgba(68, 170, 119, 0.45);
              }
              &::-ms-fill-upper {
                background-color: rgba(68, 170, 119, 0.25);
              }
            }
          }
        }
      }
      .vicp-crop-right {
        float: right;
        .vicp-preview {
          height: 150px;
          overflow: hidden;
          .vicp-preview-item {
            position: relative;
            padding: 5px;
            width: 100px;
            height: 100px;
            float: left;
            margin-right: 16px;
            span {
              position: absolute;
              bottom: -30px;
              width: 100%;
              font-size: 14px;
              color: #bbb;
              display: block;
              text-align: center;
            }
            img {
              position: absolute;
              display: block;
              top: 0;
              bottom: 0;
              left: 0;
              right: 0;
              margin: auto;
              padding: 3px;
              background-color: #fff;
              border: 1px solid rgba(0, 0, 0, 0.15);
              overflow: hidden;
              user-select: none;
            }
            &.vicp-preview-item-circle {
              margin-right: 0;
              img {
                border-radius: 100%;
              }
            }
          }
        }
      }
    }
    .vicp-step3 .vicp-upload {
      position: relative;
      box-sizing: border-box;
      padding: 35px;
      height: 170px;
      background-color: rgba(0, 0, 0, 0.03);
      text-align: center;
      border: 1px dashed #ddd;
      .vicp-loading {
        display: block;
        padding: 15px;
        font-size: 16px;
        color: #999;
        line-height: 30px;
      }
      .vicp-progress-wrap {
        margin-top: 12px;
        background-color: rgba(0, 0, 0, 0.08);
        border-radius: 3px;
        .vicp-progress {
          position: relative;
          display: block;
          height: 5px;
          border-radius: 3px;
          background-color: #4a7;
          box-shadow: 0 2px 6px 0 rgba(68, 170, 119, 0.3);
          transition: width 0.15s linear;
          background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
          background-size: 40px 40px;
          animation: vicp_progress 0.5s linear infinite;
          &::after {
            content: "";
            position: absolute;
            display: block;
            top: -3px;
            right: -3px;
            width: 9px;
            height: 9px;
            border: 1px solid rgba(245, 246, 247, 0.7);
            box-shadow: 0 1px 4px 0 rgba(68, 170, 119, 0.7);
            border-radius: 100%;
            background-color: #4a7;
          }
        }
      }
      .vicp-error, .vicp-success {
        height: 100px;
        line-height: 100px;
      }
    }
    .vicp-operate {
      position: absolute;
      right: 20px;
      bottom: 20px;
      a {
        position: relative;
        float: left;
        display: block;
        margin-left: 10px;
        width: 100px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        cursor: pointer;
        font-size: 14px;
        color: #4a7;
        border-radius: 2px;
        overflow: hidden;
        user-select: none;
        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
        }
      }
    }
    .vicp-error {
      display: block;
      font-size: 14px;
      line-height: 24px;
      height: 24px;
      color: #d10;
      text-align: center;
      vertical-align: top;
    }
    .vicp-success {
      display: block;
      font-size: 14px;
      line-height: 24px;
      height: 24px;
      color: #d10;
      text-align: center;
      vertical-align: top;
      color: #4a7;
    }
    .vicp-icon3 {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      top: 4px;
      &::after {
        position: absolute;
        top: 3px;
        left: 6px;
        width: 6px;
        height: 10px;
        border-width: 0 2px 2px 0;
        border-color: #4a7;
        border-style: solid;
        transform: rotate(45deg);
        content: "";
      }
    }
    .vicp-icon2 {
      position: relative;
      display: inline-block;
      width: 20px;
      height: 20px;
      top: 4px;
      &::after, &::before {
        content: "";
        position: absolute;
        top: 9px;
        left: 4px;
        width: 13px;
        height: 2px;
        background-color: #d10;
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}

.e-ripple {
  position: absolute;
  border-radius: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  background-clip: padding-box;
  pointer-events: none;
  user-select: none;
  transform: scale(0);
  opacity: 1;
  &.z-active {
    opacity: 0;
    transform: scale(2);
    transition: opacity 1.2s ease-out, transform 0.6s ease-out;
  }
}

.vue-image-crop-upload {
  padding: 0px;
  position: inherit;
  height: auto;
  .vicp-step1 .vicp-operate {
    display: none;
  }
  .vicp-icon1 {
    height: 50px;
    width: 100%;
    i {
      display: none;
    }
    &:before {
      content: "";
      font-size: 67px;
      color: #c0c4cc;
      margin: 40px 0 16px;
      line-height: 50px;
      font-family: element-icons;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      vertical-align: baseline;
      display: inline-block;
      -webkit-font-smoothing: antialiased;
      position: relative;
      -moz-osx-font-smoothing: grayscale;
      top: -49px;
    }
  }
  .vicp-close {
    display: none;
  }
  .vicp-wrap {
    width: 100%;
    position: inherit;
    height: auto;
    animation: initial;
    padding: 0px;
    box-shadow: inherit;
    border-radius: inherit;
  }
  .vicp-drop-area {
    background-color: #fff;
    border: 1px dashed #d9d9d9;
    box-sizing: border-box;
    border-radius: 5px;
    &:hover {
      border-color: #444;
    }
  }
  .vicp-operate {
    position: inherit;
    right: inherit;
    bottom: inherit;
    float: right;
    margin-top: 30px;
    a {
      position: inherit;
      float: initial;
      display: initial;
      margin-left: initial;
      width: initial;
      height: initial;
      line-height: initial;
      text-align: initial;
      cursor: pointer;
      font-size: initial;
      color: #fff;
      border-radius: 8px;
      font-size: 12px;
      &:hover {
        background-color: #4a7;
      }
      span {
        display: none;
      }
    }
  }
  .vicp-img-shade {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .vicp-crop {
    display: flex;
    justify-content: center;
    align-items: center;
    zoom: 1.36;
  }
  .vicp-crop-right {
    display: none;
  }
}